/* -----MEDIA----- */

@media (hover: hover) and (pointer: fine) {

  .basic-link:not(.basic-link:active):hover {
    color: var(--base-color_light);
  }

  .basic-link:not(.basic-link:active):hover::before {
    background-color: transparent;
  }

  .header__login-link:not(.header__login-link:active):hover svg path {
    fill: var(--base-color_light);
  }

  .select-list__btn:not(.select-list__btn:active):hover .select-list__icon path {
    stroke: var(--base-color_light);
  }

  .header-bottom__search-btn:not(.header-bottom__search-btn:active):hover svg rect,
  .header-bottom__search-btn:not(.header-bottom__search-btn:active):hover svg path {
    fill: var(--base-color);
  }

  .search__input:hover {
    border-bottom: 1px solid var(--base-color_light);
  }

  .burger-btn:hover .burger__line {
    background-color: var(--base-color);
  }

  .search-btn:hover svg rect,
  .search-btn:hover svg path,
  .close-search-btn:hover svg rect {
    fill: var(--base-color);
  }

  .dropdown__link:not(.dropdown__link:active):hover {
    outline: 2px solid var(--base-color);
    outline-offset: -2px;
  }

  .hero__link:not(.hero__link:active):hover {
    outline: 3px solid #D1A9F0;
    outline-offset: 0;
  }

  .gallery__checkbox-label:hover {
    color: var(--base-color_light);
  }

  .gallery__checkbox-label:hover>.gallery__checkbox+.box {
    outline: 1px solid var(--base-color_light);
  }

  .gallery__swiper-button-next:not(.gallery__swiper-button-next:active):hover,
  .gallery__swiper-button-prev:not(.gallery__swiper-button-prev:active):hover {
    outline: none;
  }

  .gallery__swiper-button-next:not(.gallery__swiper-button-next:active):hover svg ellipse,
  .gallery__swiper-button-prev:not(.gallery__swiper-button-prev:active):hover svg ellipse {
    fill: var(--base-color);
  }

  .gallery-swiper-slide:hover::after {
    opacity: 1;
  }

  .gallery-swiper-slide:active::before {
    background: rgba(194, 131, 243, 0.4);
    opacity: 1;
    outline: 2px solid #D1A9F0;
    outline-offset: -2px;
  }

  .gallery-swiper-slide:active::after {
    opacity: 1;
  }

  .modal__close-btn:not(.modal__close-btn:active):hover svg path {
    fill: var(--base-color);
  }

  .masters__btn:not(.masters__btn:active):hover {
    color: var(--base-color);
    background-color: transparent;
  }

  .masters__btn:not(.masters__btn:active):hover::after {
    right: 0;
  }

  .events__swiper-button-next:not(.events__swiper-button-next:active):hover svg ellipse,
  .events__swiper-button-prev:not(.events__swiper-button-prev:active):hover svg ellipse,
  .projects__swiper-button-next:not(.projects__swiper-button-next:active):hover svg ellipse,
  .projects__swiper-button-prev:not(.projects__swiper-button-prev:active):hover svg ellipse {
    fill: #D1A9F0;
  }

  .event__link:not(.event__link:active):hover {
    color: var(--base-color_dark);
  }

  .event__link:not(.event__link:active):hover::after {
    background-color: var(--base-color_dark);
  }

  .projects__tooltip:not(.projects__tooltip[aria-describedby]):hover svg {
    fill: #D1A9F0;
  }

  .projects-swiper-slide__link:not(.projects-swiper-slide__link:active):hover .projects-swiper-slide__img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
  }

  .form__input:not(.form__input:focus-visible):hover {
    background-color: #EAEAEA;
  }

  .form__btn:not(.form__btn:active):hover {
    outline: none;
    color: white;
    background-color: var(--base-color);
  }

  .messengers__link:not(.messengers__link:active):hover {
    opacity: .5;
  }

  .footer__socials-link:not(.footer__socials-link:active):hover svg path {
    fill: white;
  }

}

@media (max-width: 1300px) {

  .about-us__container {
    padding-bottom: 70px;
  }

  /* -----GALLERY 1300----- */

  .gallery__container {
    padding-bottom: 104px;
  }

  .gallery__select-wrapper {
    flex-basis: 33%;
  }

  .choices {
    margin-bottom: 105px;
  }

  .gallery__swiper {
    flex-basis: 70%;
    top: 24px;
  }

  .gallery-swiper-slide__img {
    height: 315px;
  }

  .modal__container {
    min-height: 594px;
    max-width: 594px;
  }

  .modal__prev {
    flex-basis: 264px;
    max-width: 264px;
  }

  .modal__text-content {
    flex-basis: 330px;
  }

  /* -----CATALOG 1300----- */

  .catalog__descr {
    margin-bottom: 41px;
  }

  .catalog__tabs-wrapper {
    flex-basis: 50%;
  }

  .catalog__accordion {
    flex-basis: 50%;
  }

  .masters-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .coming-soon__pic {
    width: 173px;
    height: 114px;
  }


  /* -----EVENTS 1300----- */

  .events__container {
    padding-top: 0 !important;
  }

  .events__title {
    padding-left: 0;
    margin-bottom: 9px;
  }

  .events__swiper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }

  .events__swiper-slide {
    min-height: 683px;
  }

  .events__swiper-button-prev,
  .events__swiper-button-next {
    display: none;
  }

  .event__prev {
    aspect-ratio: 2.9 / 2;
  }

  .events__swiper-pagination {
    display: flex;
  }

  .event__text-wrapper {
    padding: 13px 18px 50px 34px;
  }

  .event__place-date {
    text-align: end;
    margin-bottom: 5px;
  }

  .event__descr {
    margin-bottom: 50px;
  }

  .event__link {
    left: 34px;
    bottom: 48px;
  }

  /* -----PROJECTS 1300----- */

  .projects__container {
    padding-top: 0;
  }

  .projects__swiper-container {
    padding: 0 53px;
  }

  /* -----CONTACTS 1300----- */

  .contacts__top-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 45px 50px 37px;
  }

  .contacts__address {
    flex-basis: 0;
    margin-bottom: 34px;
  }

  .address__first-line {
    margin-bottom: 5px;
  }

  .contacts__form {
    flex-basis: 0;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .form-group:last-child {
    margin-right: 0;
  }

  .form__btn {
    padding: 10px 40px;
  }

  .messengers__title {
    margin-bottom: 5px;
    line-height: 35px;
  }

  /* -----FOOTER 1300----- */

  .footer__container {
    padding: 0 43px;
  }

  .footer__socials-wrapper {
    margin-right: 23px;
  }

  .footer__socials-link {
    display: inline-block;
    margin-right: 40px;
    -webkit-transform: scale(1.3333);
    transform: scale(1.3333);
  }

}

@media (max-width: 1100px) {
  /* -----HEADER 1100----- */

  .container {
    padding: 80px 50px;
  }

  .header-top__container {
    position: relative;
    padding: 0 50px;
  }

  .burger-btn {
    display: block;
    position: relative;
    z-index: 300;
    margin-right: auto;
    width: 36px;
    height: 28px;

    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: opacity .1s ease, -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .1s ease;
    transition: transform .5s ease-in-out, opacity .1s ease, -webkit-transform .5s ease-in-out;
  }

  .burger-btn.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .burger__line {
    display: block;
    position: absolute;
    left: 0;
    height: 3.5px;

    background-color: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-property: top, width, left, -webkit-transform;
    transition-property: top, width, left, transform;
    transition-property: top, width, left, transform, -webkit-transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  .burger__line:nth-child(1) {
    width: 100%;
    top: 0;
  }

  .burger__line:nth-child(2),
  .burger__line:nth-child(3) {
    width: 28px;
    top: 12px;
  }

  .burger__line:nth-child(4) {
    width: 24px;
    top: 24px;
  }

  .burger-btn.is-transformed .burger__line:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .burger-btn.is-transformed .burger__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .burger-btn.is-transformed .burger__line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .burger-btn.is-transformed .burger__line:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .burger-btn:focus-visible .burger__line {
    background-color: var(--base-color);
  }

  .header__logo {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 94px);
    width: 188px;
    margin-right: 0;
  }

  .header-top__wrapper {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    z-index: 200;
    padding: 120px 100px 50px 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;

    background: rgba(0, 0, 0, 0.9);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease, visibility .2s ease;
    transition: transform .2s ease-in-out, opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease-in-out;
  }

  .header__nav {
    flex-basis: 0;
    margin-bottom: 200px;
  }

  .header-nav__links-wrapper {
    flex-direction: column;
  }

  .header-nav__link {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .header__login-link {
    padding: 20px 70px;
    border: 2px solid var(--base-color);
    border-radius: 100px;
  }

  .header-top__search-wrapper {
    position: absolute;
    right: -225px;
    top: calc(50% - 15px);
    z-index: 100;
    display: flex;
    align-items: center;
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }

  .header-top__search-wrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -10px 0 -10px -30px;
    border-radius: 50px;
    background: #000;
  }

  .search-btn:focus-visible svg rect,
  .search-btn:focus-visible svg path,
  .close-search-btn:focus-visible svg rect {
    fill: var(--base-color);
  }

  .search__input-wrapper {
    align-items: flex-end;
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease;
  }

  .search__input {
    margin-right: 24px;
  }

  .is-shown {
    -webkit-transform: translateX(100%);
    transform: translateX(100%);
    opacity: 1;
    visibility: visible;
  }

  .header-top__search-wrapper.is-shown {
    -webkit-transform: translateX(-280px);
    transform: translateX(-280px);
  }

  .search__input-wrapper.is-shown {
    -webkit-transform: none;
    transform: none;
  }

  .header-bottom__container {
    display: none;
  }

  /* -----HERO 1100----- */

  .hero {
    margin-top: -100px;
  }

  .hero__container {
    padding-top: 213px;
    padding-bottom: 115px;
  }

  .hero__title {
    margin-bottom: 12px;
  }

  .hero__descr {
    margin-bottom: 135px;
  }

  .hero__swiper-slide--1 {
    background-image: url(../img/slide-1-1024.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/slide-2-1024.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/slide-3-1024.jpg);
  }

  .hero__text-wrapper {
    max-width: 670px;
  }


}

@media (max-width: 1000px) {

  /* ---HEADER-1000--- */

  .header-top__search-wrapper {
    top: 0;
    right: calc(-100% + 80px);
    width: 100%;
    height: 100%;
    z-index: 300;
  }

  .header-top__search-wrapper.is-shown {
    justify-content: center;
    transform: translateX(calc(-100% + 80px));
  }

  .header-top__search-wrapper::before {
    inset: 0;
    border-radius: 0;
  }

  .search__input-wrapper {
    width: calc(100% - 160px);
  }

  .search__input {
    width: 100%;
  }

  .search__input::-webkit-input-placeholder {
    font-size: 0;
  }

  .search__input::-moz-placeholder {
    font-size: 0;
  }

  .search__input:-ms-input-placeholder {
    font-size: 0;
  }

  .search__input::-ms-input-placeholder {
    font-size: 0;
  }

  .search__input::placeholder {
    font-size: 0;
  }

  /* ---HERO-1000--- */

  .hero__swiper-slide--1 {
    background-image: url(../img/slide1-1000.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/slide2-1000.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/slide3-1000.jpg);
  }

  /* ---GALLERY-1000--- */

  .gallery {
    background-image: url(../img/gallery-bg-1000.jpg);
  }

  .gallery__container {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .gallery__select-wrapper {
    margin-bottom: 40px;
    flex-basis: 0;
    width: 281px;
  }

  .choices {
    margin-bottom: 40px;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    background-color: #000;
  }

  .gallery__swiper {
    width: 100%;
    flex-basis: 0;
    top: 0;
    min-height: 390px;
  }

  .gallery-swiper-slide__img {
    height: 100%;
  }

  .modal__container {
    max-width: 668px;
  }

  .modal__prev {
    flex-basis: 300px;
    max-width: 300px;
  }

  .modal__text-content {
    flex-basis: 368px;
  }

  /* ---CATALOG-1000--- */

  .catalog__container {
    padding-bottom: 70px;
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__main-wrapper {
    flex-direction: column-reverse;
  }

  .catalog__accordion {
    flex-basis: 0;
    margin-bottom: 50px;
  }

  .catalog__tabs-wrapper {
    margin-right: 0;
  }

  .masters-list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }

  .coming-soon__pic {
    width: 250px;
    height: 165px;
  }

  /* ---PROJECTS-1000--- */

  .events__title {
    margin-bottom: 14px;
  }

  .projects__title {
    margin-bottom: 16px;
  }

  .projects__descr {
    margin-bottom: 30px;
  }

  .projects__swiper-container {
    padding: 0 47px;
  }

  .event__prev {
    aspect-ratio: 3.17 / 2;
  }

  .projects__swiper-slide {
    aspect-ratio: 2.5 / 1;
  }

  .projects-swiper-slide__link {
    height: 40px;
  }

  .contacts__address {
    margin-bottom: 33px;
  }

  .contacts__form {
    flex-wrap: wrap;
    margin-bottom: 13px;
  }

  .form-group {
    margin-bottom: 12px;
    width: calc(50% - 10px);
  }

  .form-group:nth-child(2) {
    margin-right: 0;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: 100%;
    padding: 10px 0;
  }

  .messengers__title {
    margin-bottom: 5px;
  }

  .messengers__link {
    margin-right: 17px;
  }

  .footer__container {
    padding: 0 50px;
  }

  .footer__socials-wrapper {
    margin-right: 8px;
  }

}


@media (max-width: 700px) {

  .container {
    padding: 50px 15px;
  }

  .header-top__container {
    height: 75px;
    padding: 0 15px;
  }

  .header__logo {
    width: 121px;
    top: calc(50% - 14px);
    left: calc(50% - 60px);
  }

  .header-top__wrapper {
    padding-left: 15px;
  }

  .header-top__search-wrapper {
    height: 75px;
    right: calc(-100% + 45px);
  }

  .header-top__search-wrapper.is-shown {
    transform: translateX(calc(-100% + 45px));
  }

  .search__input-wrapper {
    width: calc(100% - 90px);
  }

  .hero {
    margin-top: -75px;
  }

  .hero__container {
    padding-top: 105px;
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 1.5;
  }

  .hero__descr {
    font-size: 16px;
  }

  .gallery__swiper {
    min-height: 417px;
  }

  .modal__container {
    max-width: 400px;
    min-height: 0;
    flex-direction: column;
  }

  .modal__prev {
    flex-basis: 0;
    width: 100%;
    max-width: none;
  }

  .modal__text-content {
    flex-basis: 0;
    padding: 30px;
  }

  .masters-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .events__swiper-slide {
    min-height: 500px;
  }

  .event__text-wrapper {
    padding: 13px 15px 35px;
    min-height: 0;
  }

  .event__name {
    font-size: 17px;
    line-height: 1.5;
  }

  .event__descr {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 2;
  }

  .event__link {
    left: 15px;
    bottom: 35px;
    font-size: 14px;
  }

  .projects__swiper-slide {
    padding: 0 5px;
  }

  .projects-swiper-slide__link {
    height: 26px;
  }

  .form-group {
    width: 100%;
    margin-right: 0;
    max-width: 500px;
  }

  .form-group:nth-child(3) {
    max-width: 325px;
  }

  .footer__socials-link {
    margin-right: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@media (max-width: 450.99px) {

  /* -----HEADER 450----- */

  .header-top__container {
    height: 45px;
  }

  .header__logo {
    width: 96px;
    top: calc(50% - 11px);
    left: calc(50% - 48px);
  }

  .search-btn {
    position: absolute;
    top: 9px;
    -webkit-transform: scale(.6);
    transform: scale(.6);
  }

  .close-search-btn {
    -webkit-transform: scale(.65);
    transform: scale(.65);
  }

  .search__input-wrapper {
    width: 57%;
  }

  .search__input {
    margin: 0;
  }

  .header-top__search-wrapper::before {
    opacity: 0;
    transition: opacity .3s ease;
  }

  .is-shown.header-top__search-wrapper {
    padding-bottom: 20px;
    align-items: flex-end;
  }

  .is-shown.header-top__search-wrapper::before {
    background-color: #000;
    opacity: .9;
  }

  .is-shown.header-top__search-wrapper>.search-btn {
    position: relative;
    top: auto;
    bottom: -5px;
  }

  .is-shown.search__input-wrapper>.close-search-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .burger-btn {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  .burger-btn {
    margin-left: -5px;
  }

  .header-top__wrapper {
    padding-top: 50px;
  }

  .header__nav {
    margin-bottom: 20px;
  }

  .header-nav__link {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .header__login-link {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 12px;
  }

  /* -----HERO 450----- */

  .hero {
    margin-top: -45px;
  }

  .hero__container {
    padding-top: 75px;
    padding-bottom: 45px;
  }

  .hero__text-wrapper {
    text-align: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 38px;
  }

  .hero__descr {
    max-width: 265px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__link {
    padding: 15px 17px;
    font-size: 12px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .section-descr {
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__container {
    padding-bottom: 42px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* -----GALLERY 450----- */

  .gallery__select-wrapper {
    width: 100%;
    margin-bottom: 28px;
  }

  .choices {
    margin-bottom: 30px;
  }

  .gallery__swiper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .gallery__swiper-button-next,
  .gallery__swiper-button-prev {
    top: auto;
    bottom: 0;
  }

  .gallery__swiper-button-next {
    left: calc(50% + 30px);
  }

  .gallery__swiper-button-prev {
    left: calc(50% - 60px);
  }

  .gallery__swiper-pagination {
    top: auto;
    bottom: 5px;
    left: calc(50% - 16px);
  }

  .modal__container {
    max-width: 290px;
  }

  .modal__prev {
    height: 200px;
  }

  .modal__text-content {
    padding: 20px;
  }

  .modal__close-btn {
    top: 10px;
    right: 10px;
  }

  /* -----CATALOG 450----- */

  .catalog__title {
    margin-bottom: 13px;
  }

  .catalog__descr {
    display: none;
  }

  .catalog__accordion {
    margin-bottom: 54px;
  }

  .masters-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }

  .masters-card__pic {
    margin-bottom: 16px;
  }

  .masters-card__name {
    margin-bottom: 15px;
  }

  .masters-card__descr {
    font-size: 16px;
    line-height: 2;
  }

  .ui-accordion .ui-accordion-header {
    height: 72px;
    font-size: 18px;
  }

  .ui-icon,
  .ui-widget-content .ui-icon {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    right: -10px;
  }

  .ui-state-active .ui-icon,
  .ui-button:active .ui-icon {
    -webkit-transform: rotate(180deg) scale(.6);
    transform: rotate(180deg) scale(.6);
    right: -10px;
  }

  .coming-soon__title {
    font-size: 18px;
  }

  .coming-soon__descr {
    font-size: 14px;
  }

  .coming-soon__pic {
    margin-right: 30px;
    width: 79px;
    height: 118px;
    outline-offset: 6px;
  }

  .coming-soon__text-wrapper {
    flex-basis: 0;
  }

  /* -----EVENTS 450----- */

  .events__swiper {
    padding-bottom: 29px;
  }

  .events__swiper-slide {
    min-height: 683px;
  }

  .event__prev {
    aspect-ratio: 2.9 / 2;
  }

  .event__text-wrapper {
    padding: 18px 20px 35px;
  }

  .event__place-date {
    margin-bottom: 10px;
  }

  .event__name {
    font-size: 24px;
    line-height: 32px;
  }

  .event__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .event__link {
    left: 28px;
    bottom: 48px;
    font-size: 16px;
  }

  .projects__container {
    padding-top: 0;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 11px;
  }

  .projects__swiper-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .projects__swiper-slide {
    aspect-ratio: 1.95 / .65;
  }

  .projects-swiper-slide__link {
    height: 32px;
  }

  .contacts__top-container {
    padding-top: 0;
    padding-bottom: 20px;
    border: none;
  }

  .contacts__address {
    margin-bottom: 14px;
    line-height: 22px;
  }

  .address__first-line {
    margin-bottom: 0;
    font-size: 18px;
  }

  .address__second-line {
    font-size: 14px;
  }

  .contacts__form {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .form-group:nth-child(1) {
    margin-right: 0;
  }

  .form-group {
    height: 40px;
  }

  .form__btn {
    width: auto;
    height: 40px;
    padding: 0 35px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__btn span {
    display: none;
  }

  .messengers__title {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .messengers__link {
    margin-right: 30px;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  .contacts__map-container {
    height: 320px;
  }

  .footer__container {
    /* padding-top: 0;
    padding-bottom: 0; */
    height: 132px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer__logo {
    margin-right: 0;
    width: 97px;
  }

  .footer__socials-wrapper {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .footer__socials-link {
    margin-right: 30px;
    -webkit-transform: scale(1.1111);
    transform: scale(1.1111);
  }

}
