html {
  box-sizing: border-box;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-color: rgba(0, 0, 0, .7) rgba(0, 0, 0, .1);
  scrollbar-width: thin;
  width: 100vw;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

:root {
  font-family: 'Open Sans', sans-serif;
  --font-color: #333;
  --font-color-light: #fff;
  --base-color: #9D5CD0;
  --base-color_dark: #7943A4;
  --base-color_light: #C283F3;
  --border-color: #CACACA;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: rgba(0, 0, 0, .1);
}

::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, .7);
}

input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration {
  -webkit-appearance: none;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semi Bold'), local('Open-Sans-Semi-Bold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* ---RESETS--- */

h1,
h2,
h3,
h4,
p {
  margin: 0;
}

a {
  font-size: 0;
  text-decoration: none;
  color: var(--base-color);
}

picture {
  font-size: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

.btn-reset:focus-visible {
  outline: none;
}

/* ---GLOBAL--- */

.no-scroll {
  overflow: hidden;
}

.flex {
  display: flex;
}

.container {
  max-width: 1670px;
  margin: 0 auto;
  padding: 80px 40px 80px 30px;
}

.section-title {
  margin-bottom: 17px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-descr {
  max-width: 1078px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.basic-link {
  position: relative;
  z-index: 0;
  transition: color .1s ease;
}

.basic-link::before {
  content: "";
  position: absolute;
  inset: -2px -5px;
  z-index: -100;
  transition: background-color .1s ease;
}

.basic-link:focus-visible {
  outline: none;
  color: var(--font-color-light);
}

.basic-link:focus-visible::before {
  background: var(--base-color_dark);
}

.basic-link:active {
  color: var(--base-color_dark);
}

.basic-link:active::before {
  background: transparent;
}


/* -----HEADER----- */

.header {
  position: relative;
  z-index: 200;
}

/* ---HEADER-TOP--- */

.header__top {
  background-color: black;
}

.header-top__container {
  padding: 0 40px 0 30px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.header-top__wrapper {
  justify-content: space-between;
  align-items: center;
  flex-basis: 1250px;
}

.burger-btn {
  display: none;
}

.header__logo {
  width: 173px;
  margin-right: 30px;
}

.header__nav {
  flex-basis: 807px;
}

.header-nav__links-wrapper {
  width: 100%;
  margin-right: 20px;
  justify-content: space-between;
}

.header-nav__link {
  margin-right: 30px;
  white-space: nowrap;
  font-weight: 600;
  font-size: 18px;
  color: var(--font-color-light);
}

.header__login-link {
  align-items: center;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-color-light);
}

.header__login-link svg path {
  transition: fill .1s ease;
}

.header__login-link svg {
  margin-right: 8px;
}

.header__login-link:active svg path {
  fill: var(--base-color_dark);
}

.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-top__search-wrapper {
  display: none;
}

/* ---HEADER-BOTTOM--- */

.header-bottom__container {
  padding: 0 40px 0 30px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__select-list {
  flex-basis: 1060px;
  justify-content: space-between;
}

.select-list__item {
  position: relative;
  margin-right: 25px;
}

.select-list__btn {
  align-items: flex-end;
  font-weight: 400;
  font-size: 18px;
  color: var(--font-color-light);
  transition: color .2s ease;
}

.select-list__icon {
  margin-bottom: 4px;
  margin-left: 3px;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.select-list__icon path {
  transition: stroke .2s ease;
}

.select-list__btn--is-active {
  color: var(--base-color_dark);
}

.select-list__btn--is-active .select-list__icon {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.select-list__btn--is-active .select-list__icon path {
  stroke: var(--base-color_dark);
}

.select-list__btn:focus-visible .select-list__icon path {
  stroke: white;
}

.select-list__btn:active .select-list__icon path {
  stroke: var(--base-color_dark);
}

.search__input {
  width: 218px;
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: var(--font-color-light);
  transition: border .1s ease;
}

.search__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::-moz-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
  opacity: 1;
}

.search__input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--base-color_light);
}

/* .search__input:active {
  border-bottom: 1px solid var(--base-color_dark);
} */

.select-list__dropdown {
  position: absolute;
  top: 45px;
  width: 300px;
  height: 300px;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  overflow-x: hidden;
  opacity: 0;
  -webkit-transform: translateY(-50px);
  transform: translateY(-50px);
  transition: opacity .2s ease, visibility .2s ease, -webkit-transform .3s ease-in-out;
  transition: opacity .2s ease, transform .3s ease-in-out, visibility .2s ease;
  transition: opacity .2s ease, transform .3s ease-in-out, visibility .2s ease, -webkit-transform .3s ease-in-out;
  background: rgba(0, 0, 0, 0.6);
}

.select-list__dropdown--is-active {
  visibility: visible;
  opacity: 1;
  -webkit-transform: none;
  transform: none;
}

.dropdown__list-wrapper {
  height: 225px;
  width: 250px;
  padding: 2px;
  padding-right: 15px;
  overflow-x: hidden
}

/* Scrollbar */
.simplebar-track.simplebar-vertical {
  width: 2px;
  background: black;
}

.simplebar-scrollbar:before {
  background: white;
  border-radius: 0;
}

.simplebar-scrollbar.simplebar-visible:before {
  opacity: 1;
}

.simplebar-track.simplebar-vertical .simplebar-scrollbar:before {
  inset: 0;
}

/* -- */

.dropdown__list {
  flex-direction: column;
}

.dropdown__item {
  height: 40px;
  position: relative;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dropdown__item--1-1 {
  background-image: url(../img/dropdown-1-1.jpg);
}

.dropdown__item--1-2 {
  background-image: url(../img/dropdown-1-2.jpg);
}

.dropdown__item--1-3 {
  background-image: url(../img/dropdown-1-3.jpg);
}

.dropdown__item--1-4 {
  background-image: url(../img/dropdown-1-4.jpg);
}


.dropdown__item--2-1 {
  background-image: url(../img/dropdown-2-1.jpg);
}

.dropdown__item--2-2 {
  background-image: url(../img/dropdown-2-2.jpg);
}

.dropdown__item--2-3 {
  background-image: url(../img/dropdown-2-3.jpg);
}

.dropdown__item--2-4 {
  background-image: url(../img/dropdown-2-4.jpg);
}


.dropdown__item--3-1 {
  background-image: url(../img/dropdown-3-1.jpg);
}

.dropdown__item--3-2 {
  background-image: url(../img/dropdown-3-2.jpg);
}

.dropdown__item--3-3 {
  background-image: url(../img/dropdown-3-3.jpg);
}

.dropdown__item--3-4 {
  background-image: url(../img/dropdown-3-4.jpg);
}


.dropdown__item--4-1 {
  background-image: url(../img/dropdown-4-1.jpg);
}

.dropdown__item--4-2 {
  background-image: url(../img/dropdown-4-2.jpg);
}

.dropdown__item--4-3 {
  background-image: url(../img/dropdown-4-3.jpg);
}

.dropdown__item--4-4 {
  background-image: url(../img/dropdown-4-4.jpg);
}


.dropdown__item--5-1 {
  background-image: url(../img/dropdown-5-1.jpg);
}

.dropdown__item--5-2 {
  background-image: url(../img/dropdown-5-2.jpg);
}

.dropdown__item--5-3 {
  background-image: url(../img/dropdown-5-3.jpg);
}

.dropdown__item--5-4 {
  background-image: url(../img/dropdown-5-4.jpg);
}

.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__link {
  position: absolute;
  inset: 0;
  font-weight: 600;
  font-size: 14px;
  line-height: 19px;
  color: var(--font-color-light);
}

.dropdown__link::before {
  content: "";
  position: absolute;
  inset: 0;
  transition: background-color .1s ease;
}

.dd-link__text {
  position: absolute;
  top: 10px;
  left: 14px;
}

.dropdown__link:focus-visible {
  outline: none;
}

.dropdown__link:focus-visible::before {
  outline: 2px solid var(--base-color);
  outline-offset: -2px;
}

.dropdown__link:active::before {
  background-color: rgba(194, 131, 243, 0.4);
  outline: 2px solid var(--base-color_light);
  outline-offset: -2px;
}


/* -----HERO----- */

.hero {
  position: relative;
  margin-top: -170px;
}

.hero__container {
  position: relative;
  z-index: 100;
  padding: 240px 40px 124px 30px;
}

.hero__text-wrapper {
  max-width: 600px;
  color: var(--font-color-light);
}

.hero__title {
  margin-bottom: 19px;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
}

.hero__descr {
  margin-bottom: 93px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  padding: 23px 35px;
  background-color: var(--base-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color-light);
  transition: background-color .1s ease;
}

.hero__btn:focus-visible {
  outline: 2px solid var(--base-color);
  outline-offset: 4px;
}

.hero__btn:active {
  background-color: var(--base-color_dark);
  outline: 3px solid #D1A9F0;
  outline-offset: -3px;
}

.hero__swiper {
  position: absolute;
  inset: 0;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__swiper-slide--1 {
  background-image: url(../img/slide1.jpg);
}

.hero__swiper-slide--2 {
  background-image: url(../img/slide2.jpg);
}

.hero__swiper-slide--3 {
  background-image: url(../img/slide3.jpg);
}


/* -----ABOUT US----- */

.about-us__container {
  padding-bottom: 70px;
}

/* -----GALLERY----- */

.gallery {
  background-image: url(../img/gallery-bg.jpg);
  background-size: cover;
  background-position: center;
  color: var(--font-color-light);
}

.gallery__container {
  align-items: flex-start;
}

/* Select */
.gallery__select-wrapper {
  margin-right: 50px;
  flex-direction: column;
  flex-basis: 417px;
}

.gallery__select-label {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.choices {
  margin-bottom: 175px;
  overflow: visible;
}

.choices:focus-visible {
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-focused.is-open {
  background: transparent;
}

.choices__inner {
  min-height: 40px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: var(--font-color-light);
}

.is-open .choices__inner,
.is-flipped.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 5px;
  border-color: white;
}

.choices__placeholder {
  opacity: 1;
  color: #999;
}

.choices__list--single .choices__item--selectable {
  color: var(--font-color-light);
}

.is-highlighted.choices__placeholder {
  opacity: 1;
  color: var(--font-color-light);
}

.choices[data-type*=select-one]::after {
  content: "";
  right: 14px;
  top: calc(50% - 3px);
  height: 7px;
  width: 12px;
  margin-top: 0;
  background-image: url(../img/arrow.svg);
  border: none;
  transition: -webkit-transform .2s ease;
  transition: transform .2s ease;
  transition: transform .2s ease, -webkit-transform .2s ease;
}

.choices[data-type*=select-one].is-open::after {
  border: none;
  margin-top: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  max-height: 200%;
}

.choices__list--dropdown,
.choices__list[aria-expanded] {
  /* visibility: visible; */
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  max-height: 0;
  transition: visibility .2s ease, opacity .2s ease, max-height .2s ease, -webkit-transform .2s ease;
  transition: visibility .2s ease, opacity .2s ease, transform .2s ease, max-height .2s ease;
  transition: visibility .2s ease, opacity .2s ease, transform .2s ease, max-height .2s ease, -webkit-transform .2s ease;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: 100%;
  bottom: auto;
  margin-top: -1px;
  margin-bottom: 0;
  border-radius: 5px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Checkboxes */
.gallery__checkbox-label {
  position: relative;
  padding-left: 24px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}

.gallery__checkbox-label:focus-visible,
.gallery__checkbox-label:active {
  outline: none;
  color: var(--base-color_light);
}

.gallery__checkbox {
  display: none;
}

.gallery__checkbox+.box {
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  outline: 1px solid white;
  outline-offset: -1px;
}

.gallery__checkbox-label:focus-visible>.gallery__checkbox+.box,
.gallery__checkbox-label:active>.gallery__checkbox+.box {
  outline: 1px solid var(--base-color_light);
}

.gallery__checkbox+.box::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url(../img/checkbox-dot.svg) center no-repeat;
  opacity: 0;
}

.gallery__checkbox:checked+.box {
  outline: 1px solid var(--base-color_light);
}

.gallery__checkbox:checked+.box::before {
  opacity: 1;
}

.gallery__checkbox:checked+.box+.text {
  color: var(--base-color_light);
}

/* Swiper */
.gallery__swiper {
  position: relative;
  top: 25px;
  flex-basis: 1200px;
  padding-top: 60px;
}

.gallery__swiper-slide {
  font-size: 0;
  cursor: pointer;
}

.gallery__swiper-slide::before {
  content: "";
  position: absolute;
  z-index: 100;
  inset: 0;
  opacity: 0;
  transition: outline .1s ease, opacity .1s ease;
}

.gallery__swiper-slide::after {
  content: "";
  position: absolute;
  z-index: 200;
  inset: 25px;
  background-image: url(../img/gallery-hover.png);
  background-size: cover;
  background-position: center center;
  opacity: 0;
  transition: opacity .1s ease;
}

.gallery-swiper-slide:focus-visible {
  outline: none;
}

.gallery-swiper-slide:focus-visible::before {
  outline: 3px solid var(--base-color_dark);
  outline-offset: -3px;
  opacity: 1;
}

.gallery-swiper-slide__img {
  position: relative;
  width: 100%;
  height: 350px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
}

.gallery__swiper-pagination {
  position: absolute;
  top: 7px;
  left: 51px;
  width: auto;
}

.gallery__swiper-button-next,
.gallery__swiper-button-prev {
  position: absolute;
  margin-top: 0;
  top: 1px;
  left: 103px;
  font-size: 0;
  cursor: pointer;
  border-radius: 50%;
}

.gallery__swiper-button-prev {
  left: 3px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.gallery__swiper-button-next svg ellipse,
.gallery__swiper-button-prev svg ellipse {
  transition: fill .1s ease;
}

.gallery__swiper-button-next:focus-visible,
.gallery__swiper-button-prev:focus-visible {
  outline: none;
}

.gallery__swiper-button-next:focus-visible,
.gallery__swiper-button-prev:focus-visible,
.gallery__swiper-button-next:active,
.gallery__swiper-button-prev:active {
  outline: 2px solid #000;
  outline-offset: -1px;
}

.gallery__swiper-button-next:active svg ellipse,
.gallery__swiper-button-prev:active svg ellipse {
  fill: var(--base-color_dark);
}

.gallery__swiper-button-next.swiper-button-disabled,
.gallery__swiper-button-prev.swiper-button-disabled {
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

/* Modals */

.gallery__modal {
  position: fixed;
  z-index: 400;
  inset: 0;
  width: 100vw;

  visibility: hidden;
  opacity: 0;
  background-color: rgba(0, 0, 0, 0.6);
  transition: visibility .3s ease-in-out, opacity .3s ease-in-out;
  overflow-y: scroll;
}

.gallery__modal::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.gallery__modal--is-active {
  visibility: visible;
  opacity: 1;
}

.modal__container {
  position: relative;
  min-height: 500px;
  max-width: 900px;
  margin: auto auto;
  justify-content: center;

  transform: scale(.5);
  box-shadow: 0px 0px 80px rgba(0, 0, 0, 0.8);
  transition: transform .3s ease-in-out;
}

.gallery__modal--is-active>.modal__container {
  transform: none;
}

.modal__prev {
  flex-basis: 400px;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: top;
  object-position: top;
  margin-right: -1px;
}

.modal__text-content {
  flex-basis: 500px;
  padding: 120px 50px 50px;
  color: #333;
  background-color: white;
}

.modal__author-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.modal__piece-name {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
}

.modal__dates {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #969696;
}

.modal__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.modal__close-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.modal__close-btn::before {
  content: "";
  position: absolute;
  inset: -10px;
}

.modal__close-btn:focus-visible svg path {
  fill: var(--base-color);
}

.modal__close-btn:active svg path {
  fill: var(--base-color_dark);
}


/* -----CATALOG----- */

.catalog__title {
  margin-bottom: 14px;
}

.catalog__descr {
  margin-bottom: 40px;
}

.catalog__main-wrapper {
  justify-content: space-between;
}

.catalog__tabs-wrapper {
  flex-basis: 750px;
  margin-right: 50px;
}

/* Accordion */
.catalog__accordion {
  flex-basis: 800px;
}

.ui-icon {
  position: absolute;
  top: calc(50% - 20px);
  right: 0;
  width: 50px;
  height: 50px;
}

.ui-icon,
.ui-widget-content .ui-icon {
  transition: background-image .1s ease, -webkit-transform .3s ease;
  transition: background-image .1s ease, transform .3s ease;
  transition: background-image .1s ease, transform .3s ease, -webkit-transform .3s ease;
  background-image: url(../img/catalog-arrow-default.svg);
  background-position: center;
  background-size: 49px 49px;
  background-repeat: no-repeat;
}

.ui-state-focus .ui-icon,
.ui-button:focus .ui-icon,
.ui-state-hover .ui-icon,
.ui-button:hover .ui-icon {
  background-image: url(../img/catalog-arrow-hover.svg);
}

.ui-state-active .ui-icon,
.ui-button:active .ui-icon {
  background-image: url(../img/catalog-arrow-active.svg);
  background-size: 49px 49px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.ui-accordion .ui-accordion-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 117px;
  margin: 0;
  margin-top: -1px;
  padding: 0;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: border .1s ease, color .1s ease;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button,
html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid transparent;
  color: #333;
}

.ui-state-default:first-child {
  border-top: 1px solid var(--border-color);
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  outline: none;
  color: var(--font-color-light);
}

.accordion__title-text {
  transition: background-color .1s ease;
}

.ui-state-focus .accordion__title-text,
.ui-widget-content .ui-state-focus .accordion__title-text,
.ui-widget-header .ui-state-focus .accordion__title-text {
  background: var(--base-color);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
  color: var(--base-color);
  border-bottom: 1px solid var(--base-color);
  border-top: 1px solid var(--base-color) !important;
}

.ui-state-hover .accordion__title-text,
.ui-widget-content .ui-state-hover .accordion__title-text,
.ui-widget-header .ui-state-hover .accordion__title-text {
  background: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: var(--base-color_dark);
  border-bottom: 1px solid var(--base-color_dark);
  border-top: 1px solid var(--base-color_dark) !important;
}

.ui-state-active .accordion__title-text,
.ui-widget-content .ui-state-active .accordion__title-text,
.ui-widget-header .ui-state-active .accordion__title-text {
  background: none;
}

.ui-accordion .ui-accordion-content {
  border: none;
  padding: 25px 0 25px;
}

.masters-list {
  -webkit-columns: 3;
  -moz-columns: 3;
  columns: 3;
}

.masters-list .masters__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.masters__btn:focus-visible {
  color: var(--font-color-light);
  background: var(--base-color);
}

.masters__btn:active {
  color: var(--base-color_dark);
  background: none;
}

.masters__btn--active {
  color: var(--base-color_dark);
}

/* Coming soon */
.coming-soon {
  padding: 12px;
  padding-right: 0;
  align-items: center;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.coming-soon__pic {
  width: 251px;
  height: 165px;
  margin-right: 36px;
  background: #B7B7B7;
  outline: 2px solid #B7B7B7;
  outline-offset: 10px;
}

.coming-soon__text-wrapper {
  flex-basis: 275px;
}

.coming-soon__title {
  margin-bottom: 8px;
  font-size: 24px;
  line-height: 32px;
}

.coming-soon__descr {
  margin-bottom: 8px;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.link-to-gallery,
.coming-soon .link-to-gallery {
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  color: var(--base-color);
}

.coming-soon .link-to-gallery:focus-visible {
  color: var(--font-color-light);
}

.link-to-gallery:focus-visible::before,
.coming-soon .link-to-gallery:focus-visible::before {
  background: var(--base-color);
}

.link-to-gallery:active,
.coming-soon .link-to-gallery:active {
  color: var(--base-color_dark);
}

.link-to-gallery:active::before,
.coming-soon .link-to-gallery:active::before {
  background: transparent;
}

/* Tabs */
.masters-card {
  display: none;
  width: 100%;
}

.masters-card--active {
  display: block;
}

.masters-card__pic {
  width: 100%;
  margin-bottom: 28px;
}

.masters-card__name {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.masters-card__dates {
  margin-bottom: 6px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}


/* -----EVENTS----- */

.events__container {
  padding: 0 15px 0 5px;
}

.events__title {
  padding-left: 25px;
}

.event__text-wrapper {
  position: relative;
  flex-grow: 1;
  padding: 13px 50px 50px;
  min-height: 334px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.event__place-date {
  margin-bottom: 12px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event__name {
  margin-bottom: 9px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.event__descr {
  margin-bottom: 70px;
}

.event__link {
  position: absolute;
  left: 50px;
  bottom: 39px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.event__link::before {
  bottom: -6px;
}

.event__link::after {
  content: "";
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  bottom: 3px;
  height: 1px;
  background-color: var(--base-color);
  transition: background-color .1s ease;
}

.event__link:focus-visible {
  color: var(--font-color-light);
}

.event__link:focus-visible::before {
  background: var(--base-color);
}

.event__link:focus-visible::after {
  background-color: white;
}

.event__link:active {
  color: initial;
}

.event__link:active::after {
  background-color: var(--font-color);
}

.event__link:active::before {
  background-color: transparent;
}

.events__swiper {
  position: relative;
  padding: 2px 25px;
}

.events__swiper-slide {
  height: auto;
  flex-direction: column;
}

.events__swiper-slide::before {
  display: block;
  content: "";
  width: 100%;
  aspect-ratio: 5 / 3;
  background-size: contain;
  background-repeat: no-repeat;
}

.events__swiper-slide--1::before {
  background-image: url(../img/event-1.jpg);
}

.events__swiper-slide--2::before {
  background-image: url(../img/event-2.jpg);
}

.events__swiper-slide--3::before {
  background-image: url(../img/event-3.jpg);
}

.events__swiper-slide--4::before {
  background-image: url(../img/event-4.jpg);
}

.events__swiper-slide--5::before {
  background-image: url(../img/event-5.jpg);
}

.events__swiper-button-next,
.events__swiper-button-prev {
  position: absolute;
  z-index: 100;
  top: calc(50% - 25px);
  right: 0;
  font-size: 0;
  cursor: pointer;
}

.events__swiper-button-prev {
  right: auto;
  left: 1px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.events__swiper-button-next::after,
.events__swiper-button-prev::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color .1s ease;
}

.events__swiper-button-next svg ellipse,
.events__swiper-button-prev svg ellipse {
  transition: fill .1s ease;
}

.events__swiper-button-next:focus-visible,
.events__swiper-button-prev:focus-visible {
  outline: none;
}

.events__swiper-button-next:focus-visible::after,
.events__swiper-button-prev:focus-visible:after,
.events__swiper-button-next:active::after,
.events__swiper-button-prev:active:after {
  border-color: var(--base-color);
}

.events__swiper-button-next:active svg ellipse,
.events__swiper-button-prev:active svg ellipse {
  fill: #D1A9F0;
}

.events__swiper-button-next.swiper-button-disabled,
.events__swiper-button-prev.swiper-button-disabled {
  display: none;
}

.events__swiper-pagination {
  display: none;
  position: absolute;
  z-index: 100;
  bottom: 0 !important;
  justify-content: center;
}

.events__swiper-pagination .swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 7px) !important;
  background: #CACACA;
  opacity: 1;
  cursor: pointer;
}

.events__swiper-pagination .swiper-pagination-bullet-active {
  background: #666;
}


/* -----PROJECTS----- */

.projects__title {
  margin-bottom: 14px;
}

.projects__descr {
  margin-bottom: 20px;
}

.projects__link {
  font-size: inherit;
}

/* Tooltips */
.projects__tooltip {
  position: relative;
  bottom: -2px;
}

.projects__tooltip:focus-visible svg {
  fill: #D1A9F0;
}

.projects__tooltip[aria-describedby] svg {
  fill: var(--base-color);
}

.projects__tooltip[aria-describedby] .icon-text {
  fill: white;
}

.tippy-box {
  padding: 5px 0;
  border-radius: 0;
  background-color: var(--base-color);
}

.tippy-content {
  text-align: center;
  font-family: 'Open Sans', sans-serif;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
}

.tippy-box[data-placement^='top']>.tippy-arrow::before {
  border-top-color: var(--base-color);
}

/* Swiper */
.projects__swiper-title {
  margin-bottom: 25px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__swiper-container {
  position: relative;
  padding: 0 75px;
}

.projects__swiper-slide {
  position: relative;
  display: flex;
  box-sizing: border-box;
  padding: 0 10px;
  justify-content: space-around;
  align-items: center;
  aspect-ratio: 3 / 1;
  height: auto;
  font-size: 0;
  outline: 1px solid var(--border-color);
  outline-offset: -2px;
}

.projects-swiper-slide__link {
  height: 60px;
}

.projects-swiper-slide__link:focus,
.projects-swiper-slide__link:focus-visible {
  outline: none;
}

.projects-swiper-slide__link:active .projects-swiper-slide__img {
  -webkit-filter: none;
  filter: none;
  opacity: 1;
}

.projects-swiper-slide__link::before {
  content: "";
  position: absolute;
  inset: 0;
}

.projects-swiper-slide__link:focus-visible::before,
.projects-swiper-slide__link:active::before {
  outline: 1px solid var(--base-color);
  outline-offset: -2px;
}

.projects-swiper-slide__img {
  height: 100%;
  width: 100%;
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
  opacity: .4;
  transition: opacity .1s ease, -webkit-filter .1s ease;
  transition: filter .1s ease, opacity .1s ease;
  transition: filter .1s ease, opacity .1s ease, -webkit-filter .1s ease;
}

.projects__swiper-button-next,
.projects__swiper-button-prev {
  position: absolute;
  top: calc(50% - 15px);
  font-size: 0;
  cursor: pointer;
}

.projects__swiper-button-next {
  right: 0;
}

.projects__swiper-button-prev {
  left: 0;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.projects__swiper-button-next::after,
.projects__swiper-button-prev::after {
  content: "";
  position: absolute;
  inset: 0;
  border: 2px solid transparent;
  border-radius: 50%;
  transition: border-color .1s ease;
}

.projects__swiper-button-next svg ellipse,
.projects__swiper-button-prev svg ellipse {
  transition: fill .1s ease;
}

.projects__swiper-button-next:focus-visible,
.projects__swiper-button-prev:focus-visible {
  outline: none;
}

.projects__swiper-button-next:focus-visible::after,
.projects__swiper-button-prev:focus-visible:after,
.projects__swiper-button-next:active::after,
.projects__swiper-button-prev:active:after {
  border-color: var(--base-color);
}

.projects__swiper-button-next:active svg ellipse,
.projects__swiper-button-prev:active svg ellipse {
  fill: #D1A9F0;
}

.projects__swiper-button-next.swiper-button-disabled,
.projects__swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}


/* -----CONTACTS----- */

.contacts__top-container {
  justify-content: center;
  max-width: none;
  padding: 32px 40px 32px 30px;
  align-items: center;
  border: 1px solid var(--border-color);
}

.contacts__address {
  flex-basis: 320px;
  margin-right: 15px;
  font-style: normal;
  line-height: 32px;
}

.address__first-line {
  font-weight: 600;
  font-size: 24px;
}

.address__second-line {
  font-weight: 400;
  font-size: 16px;
}

.contacts__form {
  flex-basis: 975px;
  margin-right: 15px;
}

.form-group {
  height: 50px;
}

.form__input {
  width: 270px;
  height: 100%;
  padding: 9px 24px;
  border: 1px solid #333;
  border-radius: 100px;
  transition: background-color .1s ease, outline .1s ease;
}

.form__input::-webkit-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  opacity: 1;
}

.form__input::-moz-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  opacity: 1;
}

.form__input:-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  opacity: 1;
}

.form__input::-ms-input-placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  opacity: 1;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
  opacity: 1;
}

.form__input:focus-visible {
  background-color: #EAEAEA;
  outline: none;
}

.form__input.not-empty {
  background-color: transparent;
}

.form__btn {
  height: 50px;
  padding: 10px 30px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  white-space: nowrap;
  color: var(--base-color);
  border: 2px solid var(--base-color);
  border-radius: 100px;
  transition: background-color .1s ease, outline .1s ease, color .1s ease;
}

.form__btn:focus-visible {
  outline: 2px solid var(--base-color_light);
  outline-offset: 4px;
}

.form__btn:active {
  outline: none;
  color: var(--font-color-light);
  border-color: var(--base-color_light);
  background: var(--base-color_dark);
}

/* Validator classes */
.form-group {
  position: relative;
  margin-right: 20px;
}

.pristine-error {
  position: absolute;
  bottom: 100%;
  left: 30px;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  color: #D11616;
}

.has-danger>.form__input {
  border-color: #D11616;
}

/* -- */

.messengers__title {
  margin-bottom: 2px;
  font-weight: 600;
  font-size: 24px;
  line-height: 44px;
}

.messengers__link {
  position: relative;
  display: inline-block;
  box-sizing: border-box;
  margin-right: 16px;
  transition: opacity .1s ease;
  border-radius: 50%;
}

.messengers__link:last-child {
  margin-right: 0;
}

.messengers__link:focus-visible {
  outline: none;
  opacity: .5;
}

.messengers__link:active {
  opacity: 1;
  outline: 2px solid var(--base-color_dark);
  outline-offset: -2px;
}

.messengers__link:active::after {
  border-color: var(--base-color_dark);
}

.contacts__map-container {
  max-width: none;
  height: 702px;
  padding: 0 !important;
}

[class*='ground-pane'] {
  -webkit-filter: grayscale(1);
  filter: grayscale(1);
}


/* -----FOOTER----- */

.footer {
  background: #000;
}

.footer__container {
  padding-top: 0;
  padding-bottom: 0;
  height: 140px;
  align-items: center;
}

.footer__logo {
  width: 173px;
  margin-right: auto;
}

.footer__socials-link {
  margin-right: 20px;
}

.footer__socials-link:last-child {
  margin-right: 0;
}

.footer__socials-link svg path {
  transition: fill .1s ease;
}

.footer__socials-link:focus-visible {
  outline: none;
}

.footer__socials-link:focus-visible svg path {
  fill: white;
}

.footer__socials-link:active svg path {
  fill: var(--base-color);
}


/* -----MEDIA----- */

@media (hover: hover) and (pointer: fine) {

  .basic-link:not(.basic-link:active):hover {
    color: var(--base-color_light);
  }

  .basic-link:not(.basic-link:active):hover::before {
    background-color: transparent;
  }

  .header__login-link:not(.header__login-link:active):hover svg path {
    fill: var(--base-color_light);
  }

  .select-list__btn:not(.select-list__btn:active):hover .select-list__icon path {
    stroke: var(--base-color_light);
  }

  .search__input:hover {
    border-bottom: 1px solid var(--base-color_light);
  }

  .burger-btn:hover .burger__line {
    background-color: var(--base-color);
  }

  .search-btn:hover svg rect,
  .search-btn:hover svg path,
  .close-search-btn:hover svg rect {
    fill: var(--base-color);
  }

  .dropdown__link:not(.dropdown__link:active):hover {
    outline: 2px solid var(--base-color);
    outline-offset: -2px;
  }

  .hero__btn:not(.hero__btn:active):hover {
    outline: 3px solid #D1A9F0;
    outline-offset: -3px;
  }

  .gallery__checkbox-label:hover {
    color: var(--base-color_light);
  }

  .gallery__checkbox-label:hover>.gallery__checkbox+.box {
    outline: 1px solid var(--base-color_light);
  }

  .gallery__swiper-button-next:not(.gallery__swiper-button-next:active):hover,
  .gallery__swiper-button-prev:not(.gallery__swiper-button-prev:active):hover {
    outline: none;
  }

  .gallery__swiper-button-next:not(.gallery__swiper-button-next:active):hover svg ellipse,
  .gallery__swiper-button-prev:not(.gallery__swiper-button-prev:active):hover svg ellipse {
    fill: var(--base-color);
  }

  .gallery-swiper-slide:hover::after {
    opacity: 1;
  }

  .gallery-swiper-slide:active::before {
    background: rgba(194, 131, 243, 0.4);
    opacity: 1;
    outline: 2px solid #D1A9F0;
    outline-offset: -2px;
  }

  .gallery-swiper-slide:active::after {
    opacity: 1;
  }

  .modal__close-btn:not(.modal__close-btn:active):hover svg path {
    fill: var(--base-color);
  }

  .events__swiper-button-next:not(.events__swiper-button-next:active):hover svg ellipse,
  .events__swiper-button-prev:not(.events__swiper-button-prev:active):hover svg ellipse {
    fill: #D1A9F0;
  }

  .event__link:not(.event__link:active):hover {
    color: var(--base-color_dark);
  }

  .event__link:not(.event__link:active):hover::after {
    background-color: var(--base-color_dark);
  }

  .projects__tooltip:not(.projects__tooltip[aria-describedby]):hover svg {
    fill: #D1A9F0;
  }

  .projects-swiper-slide__link:not(.projects-swiper-slide__link:active):hover .projects-swiper-slide__img {
    -webkit-filter: none;
    filter: none;
    opacity: 1;
  }

  .form__input:not(.form__input:focus-visible):hover {
    background-color: #EAEAEA;
  }

  .form__btn:not(.form__btn:active):hover {
    outline: none;
    color: white;
    background-color: var(--base-color);
  }

  .messengers__link:not(.messengers__link:active):hover {
    opacity: .5;
  }

  .footer__socials-link:not(.footer__socials-link:active):hover svg path {
    fill: white;
  }

}

@media (max-width: 1300px) {

  /* -----HEADER 1300----- */

  .container {
    padding: 80px 50px;
  }

  .header-top__container {
    position: relative;
    padding: 0 50px;
  }

  .burger-btn {
    display: block;
    position: relative;
    z-index: 300;
    margin-right: auto;
    width: 36px;
    height: 28px;

    opacity: 1;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: opacity .1s ease, -webkit-transform .5s ease-in-out;
    transition: transform .5s ease-in-out, opacity .1s ease;
    transition: transform .5s ease-in-out, opacity .1s ease, -webkit-transform .5s ease-in-out;
  }

  .burger-btn.is-hidden {
    opacity: 0;
    visibility: hidden;
  }

  .burger__line {
    display: block;
    position: absolute;
    left: 0;
    height: 3.5px;

    background-color: white;
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition-property: top, width, left, -webkit-transform;
    transition-property: top, width, left, transform;
    transition-property: top, width, left, transform, -webkit-transform;
    transition-duration: .25s;
    transition-timing-function: ease-in-out;
  }

  .burger__line:nth-child(1) {
    width: 100%;
    top: 0;
  }

  .burger__line:nth-child(2),
  .burger__line:nth-child(3) {
    width: 28px;
    top: 12px;
  }

  .burger__line:nth-child(4) {
    width: 24px;
    top: 24px;
  }

  .burger-btn.is-transformed .burger__line:nth-child(1) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .burger-btn.is-transformed .burger__line:nth-child(2) {
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  .burger-btn.is-transformed .burger__line:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);
  }

  .burger-btn.is-transformed .burger__line:nth-child(4) {
    top: 12px;
    width: 0%;
    left: 50%;
  }

  .burger-btn:focus-visible .burger__line {
    background-color: var(--base-color);
  }

  .header__logo {
    position: absolute;
    top: calc(50% - 22px);
    left: calc(50% - 94px);
    width: 188px;
    margin-right: 0;
  }

  .header-top__wrapper {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 200;
    padding: 120px 100px 50px 50px;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    overflow-y: scroll;

    background: rgba(0, 0, 0, 0.9);
    -webkit-transform: translateX(-105%);
    transform: translateX(-105%);
    opacity: 0;
    visibility: hidden;
    transition: opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out, opacity .2s ease, visibility .2s ease;
    transition: transform .2s ease-in-out, opacity .2s ease, visibility .2s ease, -webkit-transform .2s ease-in-out;
  }

  .header__nav {
    flex-basis: 0;
    margin-bottom: 200px;
  }

  .header-nav__links-wrapper {
    flex-direction: column;
  }

  .header-nav__link {
    display: inline-block;
    margin-bottom: 40px;
    font-size: 24px;
  }

  .header__login-link {
    padding: 20px 70px;
    border: 2px solid var(--base-color);
    border-radius: 100px;
  }

  .header-top__search-wrapper {
    position: absolute;
    right: 55px;
    top: calc(50% - 15px);
    z-index: 100;
    display: flex;
    align-items: center;
    -webkit-transform: translateX(280px);
    transform: translateX(280px);
    transition: -webkit-transform .2s ease-in-out;
    transition: transform .2s ease-in-out;
    transition: transform .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }

  .header-top__search-wrapper::before {
    content: "";
    position: absolute;
    z-index: -1;
    inset: -10px 0 -10px -30px;
    border-radius: 50px;
    background: #000;
  }

  .search-btn:focus-visible svg rect,
  .search-btn:focus-visible svg path,
  .close-search-btn:focus-visible svg rect {
    fill: var(--base-color);
  }

  .search__input-wrapper {
    align-items: flex-end;
    opacity: 0;
    transition: opacity .2s ease;
  }

  .search__input {
    margin-right: 24px;
  }

  .is-shown {
    -webkit-transform: none;
    transform: none;
    opacity: 1;
    visibility: visible;
  }

  .header-top__search-wrapper.is-shown {
    -webkit-transform: none;
    transform: none;
  }

  .header-bottom__container {
    display: none;
  }


  /* -----HERO 1300----- */

  .hero {
    margin-top: -100px;
  }

  .hero__container {
    padding-top: 213px;
    padding-bottom: 115px;
  }

  .hero__title {
    margin-bottom: 12px;
  }

  .hero__descr {
    margin-bottom: 135px;
  }

  .hero__swiper-slide--1 {
    background-image: url(../img/slide-1-1024.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/slide-2-1024.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/slide-3-1024.jpg);
  }

  .hero__text-wrapper {
    max-width: 670px;
  }

  .about-us__container {
    padding-bottom: 70px;
  }

  /* -----GALLERY 1300----- */

  .gallery__container {
    padding-bottom: 104px;
  }

  .gallery__select-wrapper {
    flex-basis: 33%;
  }

  .choices {
    margin-bottom: 105px;
  }

  .gallery__swiper {
    flex-basis: 70%;
    top: 24px;
  }

  .gallery-swiper-slide__img {
    height: 315px;
  }

  .modal__container {
    min-height: 594px;
    max-width: 594px;
  }

  .modal__prev {
    flex-basis: 264px;
    max-width: 264px;
  }

  .modal__text-content {
    flex-basis: 330px;
  }

  /* -----CATALOG 1300----- */

  .catalog__descr {
    margin-bottom: 41px;
  }

  .catalog__tabs-wrapper {
    flex-basis: 50%;
  }

  .catalog__accordion {
    flex-basis: 50%;
  }

  .masters-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .coming-soon__pic {
    width: 173px;
    height: 114px;
  }


  /* -----EVENTS 1300----- */

  .events__container {
    padding-top: 0 !important;
  }

  .events__title {
    padding-left: 0;
    margin-bottom: 9px;
  }

  .events__swiper {
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 40px;
  }

  .events__swiper-button-prev,
  .events__swiper-button-next {
    display: none;
  }

  .events__swiper-slide::before {
    aspect-ratio: 2.9 / 2;
    background-size: cover;
  }

  .events__swiper-pagination {
    display: flex;
  }

  .event__text-wrapper {
    padding: 13px 34px 50px;
    flex-basis: 420px;
  }

  .event__place-date {
    text-align: end;
    margin-bottom: 5px;
  }

  .event__descr {
    margin-bottom: 50px;
  }

  .event__link {
    left: 34px;
    bottom: 48px;
  }

  /* -----PROJECTS 1300----- */

  .projects__container {
    padding-top: 0;
  }

  .projects__swiper-container {
    padding: 0 53px;
  }

  /* -----CONTACTS 1300----- */

  .contacts__top-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 40px 50px 37px;
  }

  .contacts__address {
    flex-basis: 0;
    margin-bottom: 34px;
  }

  .address__first-line {
    margin-bottom: 5px;
  }

  .contacts__form {
    flex-basis: 0;
    margin-bottom: 25px;
    margin-right: 0;
  }

  .form-group:last-child {
    margin-right: 0;
  }

  .form__btn {
    padding: 10px 40px;
  }

  .messengers__title {
    margin-bottom: 5px;
    line-height: 35px;
  }

  /* -----FOOTER 1300----- */

  .footer__container {
    padding: 0 43px;
  }

  .footer__socials-wrapper {
    margin-right: 23px;
  }

  .footer__socials-link {
    display: inline-block;
    margin-right: 40px;
    -webkit-transform: scale(1.3333);
    transform: scale(1.3333);
  }

}

@media (max-width: 1000px) {

  /* ---HEADER-1000--- */

  .header-top__search-wrapper {
    inset: 0;
    z-index: 300;
    -webkit-transform: translateX(calc(100% - 80px));
    transform: translateX(calc(100% - 80px));
  }

  .header-top__search-wrapper.is-shown {
    justify-content: center;
  }

  .header-top__search-wrapper::before {
    inset: 0;
    border-radius: 0;
  }

  .search__input-wrapper {
    width: calc(100% - 160px);
  }

  .search__input {
    width: 100%;
  }

  .search__input::-webkit-input-placeholder {
    font-size: 0;
  }

  .search__input::-moz-placeholder {
    font-size: 0;
  }

  .search__input:-ms-input-placeholder {
    font-size: 0;
  }

  .search__input::-ms-input-placeholder {
    font-size: 0;
  }

  .search__input::placeholder {
    font-size: 0;
  }

  /* ---HERO-1000--- */

  .hero__swiper-slide--1 {
    background-image: url(../img/slide1-1000.jpg);
  }

  .hero__swiper-slide--2 {
    background-image: url(../img/slide2-1000.jpg);
  }

  .hero__swiper-slide--3 {
    background-image: url(../img/slide3-1000.jpg);
  }

  /* ---GALLERY-1000--- */

  .gallery {
    background-image: url(../img/gallery-bg-1000.jpg);
  }

  .gallery__container {
    flex-direction: column;
    padding-bottom: 80px;
  }

  .gallery__select-wrapper {
    margin-bottom: 40px;
    flex-basis: 0;
    width: 281px;
  }

  .choices {
    margin-bottom: 40px;
  }

  .choices__list--dropdown,
  .choices__list[aria-expanded] {
    background-color: #000;
  }

  .gallery__swiper {
    width: 100%;
    flex-basis: 0;
    top: 0;
    min-height: 390px;
  }

  .gallery-swiper-slide__img {
    height: 100%;
  }

  .modal__container {
    max-width: 668px;
  }

  .modal__prev {
    flex-basis: 300px;
    max-width: 300px;
  }

  .modal__text-content {
    flex-basis: 368px;
  }

  /* ---CATALOG-1000--- */

  .catalog__container {
    padding-bottom: 70px;
  }

  .catalog__descr {
    margin-bottom: 20px;
  }

  .catalog__main-wrapper {
    flex-direction: column-reverse;
  }

  .catalog__accordion {
    flex-basis: 0;
    margin-bottom: 50px;
  }

  .catalog__tabs-wrapper {
    margin-right: 0;
  }

  .masters-list {
    -webkit-columns: 3;
    -moz-columns: 3;
    columns: 3;
  }

  .coming-soon__pic {
    width: 250px;
    height: 165px;
  }

  /* ---PROJECTS-1000--- */

  .events__title {
    margin-bottom: 14px;
  }

  .projects__title {
    margin-bottom: 16px;
  }

  .projects__descr {
    margin-bottom: 30px;
  }

  .projects__swiper-container {
    padding: 0 47px;
  }

  .events__swiper-slide::before {
    aspect-ratio: 3.17 / 2;
  }

  .projects__swiper-slide {
    aspect-ratio: 2.5 / 1;
  }

  .projects-swiper-slide__link {
    height: 40px;
  }

  .contacts__address {
    margin-bottom: 33px;
  }

  .contacts__form {
    flex-wrap: wrap;
    margin-bottom: 13px;
  }

  .form-group {
    margin-bottom: 12px;
    width: calc(50% - 10px);
  }

  .form-group:nth-child(2) {
    margin-right: 0;
  }

  .form__input {
    width: 100%;
  }

  .form__btn {
    width: 100%;
    padding: 10px 0;
  }

  .messengers__title {
    margin-bottom: 5px;
  }

  .messengers__link {
    margin-right: 17px;
  }

  .footer__socials-wrapper {
    margin-right: 8px;
  }

}


@media (max-width: 700px) {

  .container {
    padding: 50px 15px;
  }

  .header-top__container {
    height: 75px;
    padding: 0 15px;
  }

  .header__logo {
    width: 121px;
    top: calc(50% - 14px);
    left: calc(50% - 60px);
  }

  .header-top__wrapper {
    padding-left: 15px;
  }

  .header-top__search-wrapper {
    -webkit-transform: translateX(calc(100% - 45px));
    transform: translateX(calc(100% - 45px));
    height: 75px;
  }

  .search__input-wrapper {
    width: calc(100% - 90px);
  }

  .hero {
    margin-top: -75px;
  }

  .hero__container {
    padding-top: 105px;
    padding-bottom: 80px;
  }

  .hero__title {
    font-size: 50px;
    line-height: 1.5;
  }

  .hero__descr {
    font-size: 16px;
  }

  .gallery__swiper {
    min-height: 417px;
  }

  .modal__container {
    max-width: 400px;
    min-height: 0;
    flex-direction: column;
  }

  .modal__prev {
    flex-basis: 0;
    width: 100%;
    max-width: none;
  }

  .modal__text-content {
    flex-basis: 0;
    padding: 30px;
  }

  .masters-list {
    -webkit-columns: 2;
    -moz-columns: 2;
    columns: 2;
  }

  .event__text-wrapper {
    padding: 13px 15px 35px;
    min-height: 0;
  }

  .event__name {
    font-size: 17px;
    line-height: 1.5;
  }

  .event__descr {
    margin-bottom: 50px;
    font-size: 12px;
    line-height: 2;
  }

  .event__link {
    left: 15px;
    bottom: 35px;
    font-size: 14px;
  }

  .projects__swiper-slide {
    padding: 0 5px;
  }

  .projects-swiper-slide__link {
    height: 26px;
  }

  .form-group:nth-child(3) {
    width: 100%;
    max-width: 325px;
    margin-right: 0;
  }

  .footer__socials-link {
    margin-right: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
  }

}

@media (max-width: 450.99px) {

  /* -----HEADER 450----- */

  .header-top__container {
    height: 45px;
  }

  .header__logo {
    width: 96px;
    top: calc(50% - 11px);
    left: calc(50% - 48px);
  }

  .search-btn {
    position: absolute;
    top: 9px;
    -webkit-transform: scale(.6);
    transform: scale(.6);
  }

  .close-search-btn {
    -webkit-transform: scale(.65);
    transform: scale(.65);
  }

  .search__input-wrapper {
    width: 57%;
  }

  .search__input {
    margin: 0;
  }

  .header-top__search-wrapper {
    -webkit-transform: translateX(calc(100% - 40px));
    transform: translateX(calc(100% - 40px));
  }

  .header-top__search-wrapper::before {
    opacity: 0;
    transition: opacity .3s ease;
  }

  .is-shown.header-top__search-wrapper {
    padding-bottom: 20px;
    align-items: flex-end;
  }

  .is-shown.header-top__search-wrapper::before {
    background-color: #000;
    opacity: .9;
  }

  .is-shown.header-top__search-wrapper>.search-btn {
    position: relative;
    top: auto;
    bottom: -5px;
  }

  .is-shown.search__input-wrapper>.close-search-btn {
    position: absolute;
    top: 15px;
    right: 15px;
  }

  .burger-btn {
    -webkit-transform: scale(.7);
    transform: scale(.7);
  }

  .burger-btn {
    margin-left: -5px;
  }

  .header-top__wrapper {
    padding-top: 50px;
  }

  .header__nav {
    margin-bottom: 20px;
  }

  .header-nav__link {
    margin-bottom: 16px;
    font-size: 16px;
  }

  .header__login-link {
    padding: 10px 30px;
    font-weight: 600;
    font-size: 12px;
  }

  /* -----HERO 450----- */

  .hero {
    margin-top: -45px;
  }

  .hero__container {
    padding-top: 75px;
    padding-bottom: 45px;
  }

  .hero__text-wrapper {
    text-align: center;
  }

  .hero__title {
    font-size: 32px;
    line-height: 38px;
  }

  .hero__descr {
    max-width: 265px;
    margin: 0 auto;
    margin-bottom: 40px;
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
  }

  .hero__btn {
    padding: 15px 17px;
    font-size: 12px;
  }

  .section-title {
    font-size: 28px;
    line-height: 38px;
    margin-bottom: 10px;
  }

  .section-descr {
    font-size: 16px;
    line-height: 32px;
  }

  .about-us__container {
    padding-bottom: 42px;
  }

  .about-us__descr {
    font-size: 14px;
    line-height: 28px;
  }

  /* -----GALLERY 450----- */

  .gallery__select-wrapper {
    width: 100%;
    margin-bottom: 28px;
  }

  .choices {
    margin-bottom: 30px;
  }

  .gallery__swiper {
    padding-top: 0;
    padding-bottom: 50px;
  }

  .gallery__swiper-button-next,
  .gallery__swiper-button-prev {
    top: auto;
    bottom: 0;
  }

  .gallery__swiper-button-next {
    left: calc(50% + 30px);
  }

  .gallery__swiper-button-prev {
    left: calc(50% - 60px);
  }

  .gallery__swiper-pagination {
    top: auto;
    bottom: 5px;
    left: calc(50% - 16px);
  }

  .modal__container {
    max-width: 290px;
  }

  .modal__prev {
    height: 200px;
  }

  .modal__text-content {
    padding: 20px;
  }

  .modal__close-btn {
    top: 10px;
    right: 10px;
  }

  /* -----CATALOG 450----- */

  .catalog__title {
    margin-bottom: 18px;
  }

  .catalog__descr {
    display: none;
  }

  .masters-list {
    -webkit-columns: 1;
    -moz-columns: 1;
    columns: 1;
  }

  .masters-card__pic {
    margin-bottom: 16px;
  }

  .masters-card__name {
    margin-bottom: 15px;
  }

  .masters-card__descr {
    font-size: 16px;
    line-height: 2;
  }

  .ui-accordion .ui-accordion-header {
    height: 72px;
    font-size: 18px;
  }

  .ui-icon,
  .ui-widget-content .ui-icon {
    -webkit-transform: scale(.6);
    transform: scale(.6);
    right: -10px;
  }

  .ui-state-active .ui-icon,
  .ui-button:active .ui-icon {
    -webkit-transform: rotate(180deg) scale(.6);
    transform: rotate(180deg) scale(.6);
    right: -10px;
  }

  .coming-soon__title {
    font-size: 18px;
  }

  .coming-soon__descr {
    font-size: 14px;
  }

  .coming-soon__pic {
    margin-right: 30px;
    width: 79px;
    height: 118px;
    outline-offset: 6px;
  }

  .coming-soon__text-wrapper {
    flex-basis: 0;
  }

  /* -----EVENTS 450----- */

  .events__swiper {
    padding-bottom: 29px;
  }

  .events__swiper-slide::before {
    aspect-ratio: 2.9 / 2;
  }

  .event__text-wrapper {
    padding: 18px 20px 35px;
    flex-basis: 430px;
  }

  .event__place-date {
    margin-bottom: 10px;
  }

  .event__name {
    font-size: 24px;
    line-height: 32px;
  }

  .event__descr {
    font-size: 16px;
    line-height: 32px;
  }

  .event__link {
    left: 28px;
    bottom: 48px;
    font-size: 16px;
  }

  .projects__container {
    padding-top: 0;
  }

  .projects__title {
    margin-bottom: 12px;
  }

  .projects__descr {
    margin-bottom: 11px;
  }

  .projects__swiper-title {
    margin-bottom: 10px;
    font-size: 18px;
  }

  .projects__swiper-slide {
    aspect-ratio: 1.95 / .65;
  }

  .projects-swiper-slide__link {
    height: 32px;
  }

  .contacts__top-container {
    padding-top: 0;
    padding-bottom: 20px;
    border: none;
  }

  .contacts__address {
    margin-bottom: 14px;
    line-height: 22px;
  }

  .address__first-line {
    margin-bottom: 0;
    font-size: 18px;
  }

  .address__second-line {
    font-size: 14px;
  }

  .contacts__form {
    margin-bottom: 0;
  }

  .form-group {
    margin-bottom: 20px;
    width: 100%;
  }

  .form-group:nth-child(1) {
    margin-right: 0;
  }

  .form-group {
    height: 40px;
  }

  .form__btn {
    width: auto;
    height: 40px;
    padding: 0 35px;
    font-size: 12px;
    line-height: 16px;
  }

  .form__btn span {
    display: none;
  }

  .messengers__title {
    margin-bottom: 13px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
  }

  .messengers__link {
    margin-right: 30px;
    -webkit-transform: scale(1.25);
    transform: scale(1.25);
  }

  .contacts__map-container {
    height: 320px;
  }

  .footer__container {
    /* padding-top: 0;
    padding-bottom: 0; */
    height: 132px;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }

  .footer__logo {
    margin-right: 0;
    width: 97px;
  }

  .footer__socials-wrapper {
    margin-bottom: 20px;
    margin-right: 0;
  }

  .footer__socials-link {
    margin-right: 30px;
    -webkit-transform: scale(1.1111);
    transform: scale(1.1111);
  }

}
