html {
  box-sizing: border-box;
  overflow-x: hidden;
}

body {
  margin: 0 auto;
  overflow-x: hidden;
}

:root {
  font-family: 'Open Sans', sans-serif;
  --font-color: #333;
  --font-color-light: #fff;
  --base-color: #9D5CD0;
  --base-color_dark: #7943A4;
  --base-color_light: #C283F3;
  --border-color: #CACACA;
  -webkit-tap-highlight-color:  rgba(255, 255, 255, 0);
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Regular'), local('Open-Sans-Regular'),
    url('../fonts/OpenSans-Regular.woff2') format('woff2'),
    url('../fonts/OpenSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Semi Bold'), local('Open-Sans-Semi-Bold'),
    url('../fonts/OpenSans-SemiBold.woff2') format('woff2'),
    url('../fonts/OpenSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sans';
  src: local('Open Sans Bold'), local('Open-Sans-Bold'),
    url('../fonts/OpenSans-Bold.woff2') format('woff2'),
    url('../fonts/OpenSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

/* Resets */

h1, h2, h3, h4, p {
  margin: 0;
}

a {
  font-size: 0;
  text-decoration: none;
  color: var(--base-color);
}

picture {
  font-size: 0;
}

.list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 0;
}

.btn-reset {
  padding: 0;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 0;
}

.btn-reset:focus-visible {
  outline: none;
}

/* Global */

.flex {
  display: flex;
}

.container {
  max-width: 1630px;
  margin: 0 auto;
  padding: 80px 15px;
}

.section-title {
  margin-bottom: 20px;
  font-weight: 400;
  font-size: 48px;
  line-height: 65px;
}

.section-descr {
  max-width: 1080px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.basic-link {
  position: relative;
  z-index: 0;
  transition: color .1s ease;
}

.basic-link::before {
  content: "";
  position: absolute;
  top: -2px;
  bottom: -2px;
  left: -5px;
  right: -5px;
  z-index: -100;
  transition: background-color .1s ease;
}

.basic-link:focus-visible {
  outline: none;
  color: var(--font-color-light);
}

.basic-link:focus-visible::before {
  background: var(--base-color_dark);
}

.basic-link:active {
  color: var(--base-color_dark);
}


/* Header */

.header {
  position: relative;
  z-index: 200;
}

.header__top {
  background-color: black;
}

.header-top__container {
  padding: 0 15px;
  height: 100px;
  justify-content: space-between;
  align-items: center;
}

.header-top__wrapper {
  justify-content: space-between;
  align-items: center;
  flex-basis: 1107px;
}

.logo {
  width: 173px;
  height: 40px;
}

.header__nav {
  flex-basis: 754px;
}

.header-nav__links-wrapper {
  width: 100%;
  justify-content: space-between;
}

.header-nav__link {
  font-weight: 600;
  font-size: 18px;
  color: var(--font-color-light);
}

.header__login-link {
  font-weight: 400;
  font-size: 18px;
  color: var(--font-color-light);
}

.header__login-link svg path {
  transition: fill .1s ease;
}

.header__login-link:active svg path {
  fill: var(--base-color_dark);
}

.header__bottom {
  background: rgba(0, 0, 0, 0.4);
}

.header-bottom__container {
  padding: 0 15px;
  height: 70px;
  justify-content: space-between;
  align-items: center;
}

.header-bottom__select-list {
  flex-basis: 1010px;
  justify-content: space-between;
}

.select-list__item {
  position: relative;
}

.select-list__btn {
  font-weight: 400;
  font-size: 18px;
  color: var(--font-color-light);
  transition: color .2s ease;
}

.select-list__icon {
  transition: transform .2s ease;
}

.select-list__icon path {
  transition: stroke .2s ease;
}

.select-list__btn--is-active {
  color: var(--base-color_dark);
}

.select-list__btn--is-active .select-list__icon {
  transform: rotate(180deg);
}

.select-list__btn--is-active .select-list__icon path {
  stroke: var(--base-color_dark);
}

.search__input {
  padding: 0;
  padding-bottom: 3px;
  margin-left: 10px;
  background-color: transparent;
  border-color: transparent;
  border-bottom: 1px solid rgba(255, 255, 255, 0.85);
  color: var(--font-color-light);
  transition: border .1s ease;
}

.search__input::placeholder {
  font-weight: 400;
  font-size: 18px;
  color: rgba(255, 255, 255, 0.85);
}

.search__input:focus-visible {
  outline: none;
  border-bottom: 1px solid var(--base-color_light);
}

.select-list__dropdown {
  position: absolute;
  top: 45px;
  width: 300px;
  height: 300px;
  padding: 40px;

  visibility: hidden;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity .2s ease, transform .3s ease-in-out, visibility .2s ease;
  background: rgba(0, 0, 0, 0.6);
}

.select-list__dropdown--is-active {
  visibility: visible;
  opacity: 1;
  transform: none;
}

.dropdown__list {
  flex-direction: column;
}

.dropdown__item {
  /* height: 40px; */
  padding: 12px 15px;
  margin-bottom: 20px;
  background-size: cover;
  background-repeat: no-repeat;
}

.dropdown__item--1-1 {
  background-image: url(../img/dropdown-1-1.jpg);
}

.dropdown__item--1-2 {
  background-image: url(../img/dropdown-1-2.jpg);
}

.dropdown__item--1-3 {
  background-image: url(../img/dropdown-1-3.jpg);
}

.dropdown__item--1-4 {
  background-image: url(../img/dropdown-1-4.jpg);
}


.dropdown__item--2-1 {
  background-image: url(../img/dropdown-2-1.jpg);
}

.dropdown__item--2-2 {
  background-image: url(../img/dropdown-2-2.jpg);
}

.dropdown__item--2-3 {
  background-image: url(../img/dropdown-2-3.jpg);
}

.dropdown__item--2-4 {
  background-image: url(../img/dropdown-2-4.jpg);
}


.dropdown__item--3-1 {
  background-image: url(../img/dropdown-3-1.jpg);
}

.dropdown__item--3-2 {
  background-image: url(../img/dropdown-3-2.jpg);
}

.dropdown__item--3-3 {
  background-image: url(../img/dropdown-3-3.jpg);
}

.dropdown__item--3-4 {
  background-image: url(../img/dropdown-3-4.jpg);
}


.dropdown__item--4-1 {
  background-image: url(../img/dropdown-4-1.jpg);
}

.dropdown__item--4-2 {
  background-image: url(../img/dropdown-4-2.jpg);
}

.dropdown__item--4-3 {
  background-image: url(../img/dropdown-4-3.jpg);
}

.dropdown__item--4-4 {
  background-image: url(../img/dropdown-4-4.jpg);
}


.dropdown__item--5-1 {
  background-image: url(../img/dropdown-5-1.jpg);
}

.dropdown__item--5-2 {
  background-image: url(../img/dropdown-5-2.jpg);
}

.dropdown__item--5-3 {
  background-image: url(../img/dropdown-5-3.jpg);
}

.dropdown__item--5-4 {
  background-image: url(../img/dropdown-5-4.jpg);
}

.dropdown__item:last-child {
  margin-bottom: 0;
}

.dropdown__link {
  font-weight: 600;
  font-size: 14px;
  color: var(--font-color-light);
}

/* Hero */

.hero {
  position: relative;
  margin-top: -170px;
}

.hero__container {
  position: relative;
  z-index: 100;
  padding: 250px 15px 120px 15px;
}

.hero__text-wrapper {
  max-width: 600px;
  color: var(--font-color-light);
}

.hero__title {
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
}

.hero__descr {
  margin-bottom: 90px;
  font-weight: 700;
  font-size: 18px;
  line-height: 30px;
}

.hero__btn {
  padding: 23px 35px;
  background-color: var(--base-color);
  border-radius: 100px;
  font-weight: 700;
  font-size: 18px;
  color: var(--font-color-light);
  transition: background-color .1s ease;
}

.hero__btn:focus-visible {
  outline: 2px solid var(--base-color);
  outline-offset: 4px;
}

.hero__btn:active {
  background-color: var(--base-color_dark);
  outline: 3px solid #D1A9F0;
  outline-offset: -3px;
}

.hero__swiper {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.hero__swiper-slide {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
}

.hero__swiper-slide--1 {
  background-image: url(../img/slide1.jpg);
}

.hero__swiper-slide--2 {
  background-image: url(../img/slide2.jpg);
}

.hero__swiper-slide--3 {
  background-image: url(../img/slide3.jpg);
}


/* About us */



/* Gallery */

.gallery {
  background-image: url(../img/gallery-bg.jpg);
  background-size: cover;
  color: var(--font-color-light);
}

.gallery__container {
  align-items: center;
}

.gallery__select-wrapper {
  margin-right: 50px;
  flex-direction: column;
  flex-basis: 400px;
}

.gallery__select-label {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 16px;
  line-height: 32px;
}

.choices {
  margin-bottom: 175px;
  overflow: visible;
}

.choices:focus-visible {
  background: rgba(255, 255, 255, 0.2);
}

.choices.is-focused.is-open {
  background: transparent;
}

.display-none {
  display: none;
}

.choices__inner {
  background-color: transparent;
  border: 1px solid white;
  border-radius: 5px;
  color: var(--font-color-light);
}

.is-open .choices__inner,
.is-flipped.is-open .choices__inner,
.is-focused .choices__inner {
  border-radius: 5px;
  border-color: white;
}

.choices__placeholder {
  opacity: 1;
  color: #999;
}

.choices__list--single .choices__item--selectable {
  color: var(--font-color-light);
}

.is-highlighted.choices__placeholder {
  opacity: 1;
  color: var(--font-color-light);
}

.choices[data-type*=select-one]::after {
  content: "";
  right: 14px;
  top: calc(50% - 3px);
  height: 7px;
  width: 12px;
  margin-top: 0;
  background-image: url(../img/arrow.svg);
  border: none;
  transition: transform .2s ease;
}

.choices[data-type*=select-one].is-open::after {
  border: none;
  margin-top: 0;
  transform: rotate(180deg);
}

.is-active.choices__list--dropdown,
.is-active.choices__list[aria-expanded] {
  opacity: 1;
  transform: none;
}

.choices__list--dropdown, .choices__list[aria-expanded] {
  /* visibility: visible; */
  opacity: 0;
  background-color: transparent;
  border: 1px solid #999;
  border-radius: 5px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  transform: translateY(-50px);
  transition: visibility .2s ease, opacity .2s ease, transform .2s ease;
}

.is-flipped .choices__list--dropdown,
.is-flipped .choices__list[aria-expanded] {
  top: 100%;
  bottom: auto;
  margin-top: -1px;
  margin-bottom: 0;
  border-radius: 5px;
}

.choices__list--dropdown .choices__item--selectable.is-highlighted,
.choices__list[aria-expanded] .choices__item--selectable.is-highlighted {
  background-color: rgba(255, 255, 255, 0.2);
}

.gallery__checkbox-label {
  position: relative;
  padding-left: 24px;
  align-self: flex-start;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  cursor: pointer;
}

.gallery__checkbox-label:focus-visible,
.gallery__checkbox-label:active {
  outline: none;
  color: var(--base-color_light);
}

.gallery__checkbox {
  display: none;
}

.gallery__checkbox+span {
  position: absolute;
  left: 0;
  top: calc(50% - 6px);
  width: 12px;
  height: 12px;
  outline: 1px solid white;
}

.gallery__checkbox-label:focus-visible>.gallery__checkbox+span,
.gallery__checkbox-label:active>.gallery__checkbox+span {
  outline: 1px solid var(--base-color_light);
}

.gallery__checkbox+span::before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: url(../img/checkbox-dot.svg) center no-repeat;
  opacity: 0;
}

.gallery__checkbox:checked+span::before {
  opacity: 1;
}

.gallery__swiper {
  position: relative;
  flex-basis: 1200px;
  padding-top: 50px;
}

.gallery-swiper-slide__img {
  width: 100%;
}

.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal,
.swiper-pagination-custom,
.swiper-pagination-fraction {
  bottom: 100%;
  top: 10px;
  left: 40px;
  width: auto;
}

.gallery__swiper-button-next,
.gallery__swiper-button-prev {
  position: absolute;
  margin-top: 0;
  top: 7px;
  left: 0;
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.gallery__swiper-button-next {
  left: 80px;
}

.gallery__swiper-button-next:focus-visible,
.gallery__swiper-button-prev:focus-visible {
  outline: none;
}

.gallery__swiper-button-next:after,
.swiper-rtl .gallery__swiper-button-prev:after {
  content: url(../img/gallery-arrow.svg);
  display: block;
  font-size: 0;
}

.gallery__swiper-button-prev:after,
.swiper-rtl .gallery__swiper-button-next:after {
  content: url(../img/gallery-arrow.svg);
  display: block;
  font-size: 0;
  transform: rotate(180deg);
}

.gallery__swiper-button-next:focus-visible::after,
.swiper-rtl .gallery__swiper-button-prev:focus-visible::after {
  content: url(../img/gallery-arrow-focus.svg);
}

.gallery__swiper-button-prev:focus-visible::after,
.swiper-rtl .gallery__swiper-button-next:focus-visible::after {
  content: url(../img/gallery-arrow-focus.svg);
  transform: rotate(180deg);
}

.swiper-button-disabled.gallery__swiper-button-next::after,
.swiper-button-disabled.gallery__swiper-button-prev::after {
  content: url(../img/gallery-arrow.svg);
  opacity: .5;
  cursor: auto;
  pointer-events: none;
}

.swiper-button-disabled.gallery__swiper-button-prev::after {
  transform: rotate(180deg);
}

/* Catalog */

.catalog__descr {
  margin-bottom: 50px;
}

.catalog__main-wrapper {
  justify-content: space-between;
}

.catalog__tabs-wrapper {
  flex-basis: 750px;
}

.catalog__accordion {
  flex-basis: 800px;
}

.ui-icon {
  position: absolute;
  top: calc(50% - 25px);
  right: 0;
  width: 50px;
  height: 50px;
}

.ui-icon, .ui-widget-content .ui-icon {
  transition: background-image .1s ease, transform .3s ease;
  background-image: url(../img/catalog-arrow-default.svg);
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.ui-state-focus .ui-icon, .ui-button:focus .ui-icon,
.ui-state-hover .ui-icon, .ui-button:hover .ui-icon {
  background-image: url(../img/catalog-arrow-hover.svg);
}

.ui-state-active .ui-icon, .ui-button:active .ui-icon {
  background-image: url(../img/catalog-arrow-active.svg);
  transform: rotate(180deg);
}

.ui-accordion .ui-accordion-header {
  position: relative;
  display: flex;
  align-items: center;
  height: 114px;
  margin: 0;
  margin-top: -1px;
  padding-left: 0;
  font-family: 'Open Sans';
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
  transition: border .1s ease, color .1s ease;
}

.ui-state-default,
.ui-widget-content .ui-state-default,
.ui-widget-header .ui-state-default,
.ui-button, html .ui-button.ui-state-disabled:hover,
html .ui-button.ui-state-disabled:active {
  border: none;
  background: none;
  border-bottom: 1px solid var(--border-color);
  border-top: 1px solid transparent;
  color: #333;
}

.ui-state-default:first-child {
  border-top: 1px solid var(--border-color);
}

.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
  outline: none;
  color: var(--font-color-light);
}

.accordion__title-text {
  transition: background-color .1s ease;
}

.ui-state-focus .accordion__title-text,
.ui-widget-content .ui-state-focus .accordion__title-text,
.ui-widget-header .ui-state-focus .accordion__title-text {
  background: var(--base-color);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover {
  color: var(--base-color);
  border-bottom: 1px solid var(--base-color);
  border-top: 1px solid var(--base-color) !important;
}

.ui-state-hover .accordion__title-text,
.ui-widget-content .ui-state-hover .accordion__title-text,
.ui-widget-header .ui-state-hover .accordion__title-text {
  background: none;
}

.ui-state-active,
.ui-widget-content .ui-state-active,
.ui-widget-header .ui-state-active {
  color: var(--base-color_dark);
  border-bottom: 1px solid var(--base-color_dark);
  border-top: 1px solid var(--base-color_dark) !important;
}

.ui-state-active .accordion__title-text,
.ui-widget-content .ui-state-active .accordion__title-text,
.ui-widget-header .ui-state-active .accordion__title-text {
  background: none;
}

.ui-accordion .ui-accordion-content {
  border: none;
  padding: 25px;
  padding-left: 0;
}

.masters-list {
  columns: 3;
}

.masters-list .masters__btn {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.masters__btn:focus-visible {
  color: var(--font-color-light);
  background: var(--base-color);
}

.masters__btn:active {
  color: var(--base-color_dark);
  background: none;
}

.masters__btn--active {
  color: var(--base-color_dark);
}

/* Заглушка для аккордеона */

.coming-soon {
  padding: 12px;
  align-items: center;
  font-weight: 600;
  font-family: 'Open Sans', sans-serif;
}

.coming-soon__pic {
  width: 251px;
  height: 165px;
  margin-right: 36px;
  background: #B7B7B7;
  outline: 2px solid #B7B7B7;
  outline-offset: 10px;
}

.coming-soon__text-wrapper {
  flex-basis: 275px;
}

.coming-soon__title {
  font-size: 24px;
  line-height: 32px;
}

.coming-soon__descr {
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
}

.coming-soon .coming-soon__link {
  font-size: 16px;
  line-height: 22px;
  color: var(--base-color);
}

/* Tabs */

.masters-card {
  display: none;
}

.masters-card--active {
  display: block;
}

/* Events */

.events__container {
  max-width: 1650px;
  padding-top: 0;
  padding-bottom: 0;
}

.event__text-wrapper {
  position: relative;
  flex-grow: 1;
  padding: 13px 50px 50px;
  min-height: 400px;
  border: 1px solid var(--border-color);
  border-top: none;
}

.event__place-date {
  margin-bottom: 15px;
  font-weight: 600;
  font-size: 12px;
  line-height: 16px;
  color: #999;
}

.event__name {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 33px;
}

.event__descr {
  margin-bottom: 50px;
}

.event__link {
  position: absolute;
  left: 50px;
  bottom: 50px;
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
}

.event__link::before {
  bottom: -6px;
}

.event__link::after {
  content: "";
  position: absolute;
  z-index: 0;
  right: 0;
  left: 0;
  bottom: 0;
  height: 1px;
  background-color: var(--base-color);
  transition: background-color .1s ease;
}

.event__link:focus-visible {
  color: var(--font-color-light);
}

.event__link:focus-visible::before {
  background: var(--base-color);
}

.event__link:focus-visible::after {
  background-color: white;
}

.event__link:active {
  color: initial;
}

.event__link:active::after {
  background-color: var(--font-color);
}

.events__swiper {
  padding: 0 25px 5px;
}

.events__swiper-slide {
  height: auto;
  flex-direction: column;
}

.events__swiper-slide::before {
  display: block;
  content: "";
  width: 100%;
  aspect-ratio: 5 / 3;
  background-size: contain;
  background-repeat: no-repeat;
}

.events__swiper-slide--1::before {
  background-image: url(../img/event-1.jpg);
}

.events__swiper-slide--2::before {
  background-image: url(../img/event-2.jpg);
}

.events__swiper-slide--3::before {
  background-image: url(../img/event-3.jpg);
}

.events__swiper-slide--4::before {
  background-image: url(../img/event-4.jpg);
}

.events__swiper-slide--5::before {
  background-image: url(../img/event-5.jpg);
}

.events__swiper-button-next,
.events__swiper-button-prev {
  position: absolute;
  z-index: 100;
  top: 50%;
  cursor: pointer;
}

.events__swiper-button-next:focus-visible,
.events__swiper-button-prev:focus-visible {
  outline: none;
}

.events__swiper-button-next::after,
.events__swiper-button-prev::after {
  display: block;
  width: 50px;
  height: 50px;
}

.events__swiper-button-next:active::after,
.events__swiper-button-prev:active::after {
  content: url(../img/events-arrow-active.svg);
}

.events__swiper-button-prev:active::after {
  transform: rotate(180deg);
}

.events__swiper-button-next {
  right: 0;
}

.events__swiper-button-prev {
  left: 0;
}

.swiper-button-disabled.events__swiper-button-next::after,
.swiper-button-disabled.events__swiper-button-prev::after,
.swiper-button-disabled.events__swiper-button-next:focus-visible::after,
.swiper-button-disabled.events__swiper-button-prev:focus-visible::after {
  content: "";
}

.events__swiper-button-next:after,
.swiper-rtl .events__swiper-button-prev:after {
  content: url(../img/events-arrow.svg);
  font-size: 0;
}

.events__swiper-button-prev:after,
.swiper-rtl .events__swiper-button-next:after {
  content: url(../img/events-arrow.svg);
  font-size: 0;
  transform: rotate(180deg);
}

.events__swiper-button-next:focus-visible::after,
.events__swiper-button-prev:focus-visible::after {
  content: url(../img/events-arrow-focus.svg);
}

.events__swiper-button-prev:focus-visible::after {
  transform: rotate(180deg);
}

/* Projects */

.projects__descr {
  margin-bottom: 30px;
}

.projects__tooltip {
  position: relative;
  bottom: -2px;
  width: 16px;
  height: 16px;
  background: url(../img/i\ -\ Тултип.svg);
}

.projects__swiper-title {
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.projects__swiper-container {
  position: relative;
  padding: 0 75px;
}

.projects__swiper-slide {
  display: flex;
  justify-content: space-around;
  align-items: center;
  aspect-ratio: 3 / 1;
  height: auto;
  font-size: 0;
  outline: 1px solid var(--border-color);
  outline-offset: -2px;
}

.projects-swiper-slide__img-wrapper {
  max-width: 90%;
}

.projects-swiper-slide__img {
  width: 100%;
  filter: grayscale(1);
  opacity: .4;
}

.projects__swiper-button-next, .projects__swiper-button-prev {
  position: absolute;
  top: calc(50% - 15px);
  width: 30px;
  height: 30px;
  cursor: pointer;
}

.projects__swiper-button-next {
  right: 0;
}

.projects__swiper-button-prev {
  left: 0;
}

.projects__swiper-button-next:after, .swiper-rtl .projects__swiper-button-prev:after {
  content: url(../img/projects-arrow-next.svg);
  font-size: 0;
}

.projects__swiper-button-prev:after, .swiper-rtl .projects__swiper-button-next:after {
  content: url(../img/projects-arrow-prev.svg);
  font-size: 0;
}

.projects__swiper-button-next.swiper-button-disabled, .projects__swiper-button-prev.swiper-button-disabled {
  opacity: .35;
  cursor: auto;
  pointer-events: none;
}

/* Contacts */

.contacts__top-container {
  flex-basis: 1920px;
  justify-content: center;
  max-width: 1920px;
  padding: 50px 15px;
  align-items: center;
  outline: 1px solid var(--border-color);
}

.contacts__address {
  flex-basis: 320px;
  margin-right: 15px;
  font-style: normal;
  line-height: 32px;
}

.address__first-line {
  font-weight: 600;
  font-size: 24px;
}

.address__second-line {
  font-weight: 400;
  font-size: 16px;
}

.contacts__form {
  flex-basis: 990px;
  margin-right: 15px;
}

.form__input {
  width: 270px;
  height: 50px;
  padding: 9px 24px;
  margin-right: 20px;
  border: 1px solid #333;
  border-radius: 100px;
}

.form__input::placeholder {
  font-weight: 400;
  font-size: 16px;
  line-height: 32px;
  color: #999;
}

.form__btn {
  height: 50px;
  padding: 10px 35px;
  font-weight: 700;
  font-size: 18px;
  line-height: 25px;
  color: var(--base-color);
  border: 2px solid var(--base-color);
  border-radius: 100px;
}

.messengers__title {
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  line-height: 32px;
}

.messengers__link {
  margin-right: 21px;
}

.messengers__link:last-child {
  margin-right: 0;
}

.contacts__map-container {
  max-width: 1920px;
  height: 700px;
  padding: 0;
}

[class*='ground-pane'] {
  filter: grayscale(1);
}

/* Footer */

.footer {
  background: #000;
}

.footer__container {
  padding-top: 50px;
  padding-bottom: 50px;
}

.footer__logo {
  margin-right: auto;
}

.footer__socials-link {
  margin-right: 20px;
}

.footer__socials-link:last-child {
  margin-right: 0;
}
